# ⚙️ Node modules (no subir dependencias)
node_modules/
npm-debug.log
yarn-error.log

# ⚙️ Archivos de entorno
.env
.env.local
.env.development
.env.production

# ⚙️ Archivos del build de Vite/React
dist/
build/

# ⚙️ Configuración del sistema o IDE
.vscode/
.DS_Store
Thumbs.db

# ⚙️ Archivos temporales
*.log
*.tmp
